@import "variables";
@import "node_modules/include-media/dist/include-media";


#above-fold{
    width:100%;
    height: 150vh;
    position:relative;
    overflow: hidden;
    @include media(">phone", "<=tablet") {
      height: 88vh;
      background: white;
}

    #carousel-stack-container{
        position:absolute;
        height:100%;
        width:100%;
        z-index: 1;
        @include media(">phone", "<=tablet") {
        height: 75%;
        }
        .carousel-image{
            position:absolute;
            width: 70%;
            height: 100%;
            background-position: right !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            &:nth-of-type(1){
                background: url('../img/cafe_1.jpg');
                z-index: 3;

            }
        }
    }
    #path-window{
        position:absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        background: transparent;
        left: 0;
        z-index: 2;
        @include media(">phone", "<=tablet") {
        height: 75%;
        }
        #path-curve{
          height: 100%;
          width: 40%;
          filter: brightness(4.5);
          @include media(">phone", "<=tablet") {
          height: 101%;
          margin-left: -1px;
          }
        }
        #white-block{
            width: 200%;
            height: 101%;
            background: #fff;
            @include media(">phone", "<=tablet") {
            width: 100%;
            height: 101%;
            margin-left: -2px;
            }
            #af-nav{
              display:flex;
              flex-flow:row;
              flex-wrap: nowrap;
              justify-content: space-around;
              align-items: center;
              padding: 30px 50px 30px 0;
              font-weight: 600;
              @include media(">phone", "<=tablet") {
              padding: 30px 20px 30px 0;
              width: 100%;
              li{
                font-size: 10px;
              }
              li:nth-of-type(1){
                display: none;
              }
              li:nth-of-type(6){
                display: none;
              }
              }
              .af-nav-item{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: "ArbescoDT-Bold", Arial, sans-serif;
                color: $darkbrown;
                cursor: pointer;

              }
            }
            #logo-container{
              display: inline-block;
              img{
                border-radius: 50%;
                width: 75px;
                padding: 0;
              }
            }
            #top-heading{
              position: relative;
              transform-style: preserve-3d;
              padding-top: 100px;
              padding-left: 100px;
              &:after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height:175%;
                background-image:url('../img/talavera.svg');
                background-repeat: no-repeat;
                opacity: 0.06;
                transform: translateZ(-1px);
                top: 15%;
                left: 15px;
              }
              @include media(">phone", "<=tablet") {
                top: 118px;
                padding: 0;
                padding-left: 5px;
                &:after{
                  height: 475% !important;
                  top: -90% !important;
                  left: 15px !important;
                }
              }


              h3{
                font-family: "Viner Hand ITC", cursive;
                color: $darkbrown;
                font-size: 2.4rem;
                position: relative;
                left: -100px;
                margin-bottom: 10px;
              @include media(">phone", "<=tablet"){
                margin-bottom: 14px;
                font-size: 1rem;
                left:0;
              }
              }
              h1{
                font-family: "ArbescoDT-Bold", Arial, sans-serif;
                color: #EC9B07;
                font-size: 6rem;
                letter-spacing: 2px;
                text-transform: capitalize;
                position: relative;
                left: -60px;
                @include media(">phone", "<=tablet"){
                  left:0;
                  font-size: 2.3rem;
                }
              }

            }
            button#cta {
              @include button-style;
              transform-style: preserve-3d;
              border: 3px solid #5B4C41;
              padding: 0px 45px;
              height: 83px;
              outline: none;
              line-height: 80px;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-weight: 600;
              color: #5b4c41;
              margin: 35px 0 -20px 102px;
              font-size: 20px;
              position: relative;
              font-family: 'ArbescoDT-Bold', sans-serif;
              transition: .15s all ease-in-out;
              cursor: pointer;
              box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
              &:focus{
                outline: none;
              }
              &:active{
                outline: none;
              }

              &:hover{
                border-color: #A67E5B;
                color: #87643d;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                transform: translateY(-1px);
              }
              @include media(">phone", "<=tablet"){
                padding: 0px 15px;
                height: 50px;
                line-height: 47px;
                letter-spacing: 1px;
                font-size: 12px;
                margin: 0 0 0 20px;
                top: 180px;
                left: 5px;
              }
            }
            #shape-box{
              margin-top: 210px;
              position: relative;
              left: -250px;
              @include media(">phone", "<=tablet"){
                position: absolute;
                bottom: 0px;
                width: 75%;
                left: 55%;
                transform: translateX(-50%) translateY(75%)!important;
                transform-style: preserve-3d;
                margin: 0;
              }
              #shaper{
                float: left;
                shape-outside: polygon(0px 0px, 291px 0px, -44px 300px);
                width: 350px;
                height: 270px;
                @include media(">phone", "<=tablet"){
                  display: none;
                }
              }
              p{
                font-family: 'ArbescoDT-Book', sans-serif;
                width: 120%;
                font-size: 22px;
                line-height: 2;
                color: #685a54;
                @include media(">phone", "<=tablet"){
                  width: 100%;
                  font-size: 13px !important;
                }
                span{
                  color: $orange;
                  cursor: pointer;
                  &:hover{
                    text-decoration-style: double !important;
                    text-decoration: underline;

                  }
                }
              }
            }
        }
    }
}

#horchata{
  height: 100vh;
  background: url("../img/talaverabeige3.svg");
  background-size: 30%;
  position: relative;
  padding: 65px 0;
  @include media(">phone", "<=tablet"){
    height: 100vh;
    padding: 50px 0;
  }
  &::before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    top: -2px;
    left: 2px;
    z-index: 9;
    @include media(">phone", "<=tablet"){

    }
  }

  #promo-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    @include media(">phone", "<=tablet"){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .promo-text{
      background: white;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      padding: 9% 15%;
      font-family: 'ArbescoDT-Book', sans-serif;
      @include media(">phone", "<=tablet"){
        grid-row: 2/3;
        padding: 8% 10%;
      }
      h3{
        text-transform: uppercase;
        font-family: 'ArbescoDT-Bold', sans-serif;
        color: #ec9b07;
        font-size: 1.25rem;
        @include media(">phone", "<=tablet"){
          font-size: 1.1rem;
        }
      }
      h2{
        text-transform: capitalize;
        font-family: 'Viner Hand ITC';
        color: #685a54;
        font-size: 2.2rem;
        @include media(">phone", "<=tablet"){
          font-size: 1.5rem;
        }
      }
      p{
        font-family: 'ArbescoDT-Book', sans-serif;
        color: #685a54;
        font-size: 1.1rem;
        line-height: 1.5;
        @include media(">phone", "<=tablet"){
          font-size: 13px !important;
          line-height: 2;
        }
      }
      a{
        text-decoration: none;
        color: #ec9b07;
        font-family: 'ArbescoDT-Bold';
        @include media(">phone", "<=tablet"){

        }
      }

    }
    .promo-photo{
      background: url('../img/cafe-latte.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include media(">phone", "<=tablet"){
        grid-row: 1/2;
      }
    }
  }
}


#location-section{
  background: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  @include media(">phone", "<=tablet"){
    height: auto;
    padding: 50px 0px 75px 0;
  }
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background: #FAF9F6;
      top: -2px;
      left: 2px;
      z-index: 9;
    }
    h1{
      text-align: left;
      font-family: "ArbescoDT-SemiBold", Arial, sans-serif;
      color: #51453f;
      font-size: 2.75rem;
      letter-spacing: 2px;
      display: inline-block;
      text-transform: capitalize;
      margin-bottom: 50px;
      position: relative;
      padding-left: 6rem;
      transform-style: preserve-3d;
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-color: #ec9b07;
      text-decoration-style: double;
      @include media(">phone", "<=tablet"){
        text-align: center;
        padding: 0;
        margin-bottom: 60px;
        font-size: 2rem;
      }
  }

    #location-container{
      display: flex;
      -ms-flex-flow: row;
      flex-flow: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-align: center;
      padding: 0 5%;
      @include media(">phone", "<=tablet"){
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
      }
      .location{
        position: relative;
        width: 350px;
        height: 425px;
        border: 1px solid #897e79;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        overflow: hidden;
        border-radius: 3px;
        cursor: pointer;
        @include media(">phone", "<=tablet"){
          width: 65vw;
          height: 52vw;
          margin-bottom: 50px;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        .zoomable-bg{
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          transition: .2s all ease-in-out;
          &:hover{
            transform: scale(1.2);
          }
          @include media(">phone", "<=tablet"){
            transition: none;
            &:hover{
              transform: none !important;
            }
          }
        }
      }
      #l1{
        background-image: url("../img/la_cafe.jpg");
      }
      #l2{
        background-image: url("../img/la_cafe_outside.jpeg");
      }
      #l3{
        background-image: url("../img/norcal_cafe.jpg");
        background-position: bottom;
      }
      .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 30px;
        h3{
          font-family: "ArbescoDT-SemiBold", sans-serif;
          color: white;
          font-size: 2rem;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          padding-top: 11px;
          line-height: 1.4;
          background: rgba(87,73,66,0.85);
          border-top: 3px solid $orange;
          border-bottom: 3px solid $orange;
          @include media(">phone", "<=tablet"){
            padding: 0;
            height: 53px;
            line-height: 50px;
            font-size: 1.5rem;
          }
        }
      }
    }

}

#sourcing{
  height: 100vh;
  background: url("../img/talaverabeige3.svg");
  background-size: 30%;
  position: relative;
  padding: 65px 0;
  @include media(">phone", "<=tablet"){
    height: 100vh;
    padding: 50px 0;
  }

  .promo-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    @include media(">phone", "<=tablet"){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .promo-photo{
      background: url('../img/farmer.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include media(">phone", "<=tablet"){
        grid-row: 1/2;
      }
    }
    .promo-text{
      background: white;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      padding: 9% 15%;
      @include media(">phone", "<=tablet"){
        grid-row: 2/3;
        padding: 8% 10%;
      }
      h3{
        text-transform: uppercase;
        font-family: 'ArbescoDT-Bold', sans-serif;
        color: #ec9b07;
        font-size: 1.25rem;
        @include media(">phone", "<=tablet"){
          font-size: 1.1rem;
        }
      }
      h2{
        text-transform: capitalize;
        font-family: 'Viner Hand ITC';
        color: #685a54;
        font-size: 2.2rem;
        line-height: 1.3;
        @include media(">phone", "<=tablet"){
          font-size: 1.5rem;
        }
      }
      p{
        font-family: 'ArbescoDT-Book', sans-serif;
        color: #685a54;
        font-size: 1.1rem;
        line-height: 1.5;
        @include media(">phone", "<=tablet"){
          font-size: 13px !important;
          line-height: 2;
        }
      }
      a{
        text-decoration: none;
        color: #ec9b07;
        font-family: 'ArbescoDT-Bold';
      }

    }
  }
}

#shop{
  height: 100vh;
  padding: 65px 0;
  background: #fbf9f8;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @include media(">phone", "<=tablet"){
    height: auto;
    padding: 65px 0 95px 0;
  }
  h1{
    align-self: flex-start;
    text-align: left;
    font-family: "ArbescoDT-SemiBold", Arial, sans-serif;
    color: #51453f;
    font-size: 2.75rem;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
    padding-left: 6rem;
    transform-style: preserve-3d;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #ec9b07;
    text-decoration-style: double;
    @include media(">phone", "<=tablet"){
      display: block;
      text-align: center;
      padding: 0;
      align-self: unset;
      margin-bottom: 75px;
      font-size: 2rem;
    }
}
  #shop-gallery-container{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: 'ArbescoDT-Book', sans-serif;
    padding: 0 5%;
    @include media(">phone", "<=tablet"){
      flex-wrap: nowrap;
      overflow: hidden;
      width: 100%;
    }

    .product-wrapper{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      transform-style: preserve-3d;
      position: relative;
      @include media(">phone", "<=tablet"){
        width: 30%;
        &:nth-of-type(1){

        }
        &:nth-of-type(2){

        }
      }
      img{
        width: 100%;
        margin-bottom: 20px;
        @include media(">phone", "<=tablet"){
          width: 80%;
        }
      }
      h4{
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin-bottom: 25px;
        position: relative;
        font-size: 1.2rem;
        color: $darkbrown;
        font-family: 'ArbescoDT-Bold';
        &::after{
          position: absolute;
          content: '';
          display: block;
          height: 2px;
          width: 80%;
          background: $orange;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p{
        line-height: 1.4;
        margin-bottom: 20px;
        font-family: 'ArbescoDT-Book';
        color: $lightBrown;
        @include media(">phone", "<=tablet"){
          line-height: 2;
          font-size: 13px !important;
          width: 80%;
        }
      }
      button{
        @include button-style;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        color: $darkbrown;
        outline: none;
        font-family: 'ArbescoDT-SemiBold', sans-serif;
        font-weight: 600;
        border: 3px solid $darkbrown;
        font-size: 1rem;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        padding: 14px 40px 10px;
        transition: .1s all ease-in-out;
        &:hover{
          border-color: #A67E5B;
          color: #87643d;
          transform: translateY(-1px);
        }
      }
    }
    .product-wrapper::after{
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }
    .product-wrapper:nth-of-type(1)::after{
      position: absolute;
      display: block;
      content: '';
      background: url(../img/talaveradark.svg);
      width: 12vw !important;
      height: 12vw;
      transform: translateZ(-1px);
      top: 9%;
      background-size: cover;
      left: 15%;
      border-radius: 50%;
      @include media(">phone", "<=tablet"){
        width: 50vw !important;
        height: 50vw !important;
        left: 50%;
        background-position: -76px 0px;
        transform: translateX(-50%) translateZ(-1px);
      }

      }
      .product-wrapper:nth-of-type(2)::after{
        position: absolute;
        display: block;
        content: '';
        background: url(../img/talaveraorange.svg);
        width: 12vw !important;
        height: 12vw;
        transform: translateZ(-1px);
        top: 9%;
        background-size: cover;
        left: 15%;
        border-radius: 50%;
        @include media(">phone", "<=tablet"){
          width: 50vw !important;
          height: 50vw !important;
          left: 50%;
          background-position: -76px 0px;
          transform: translateX(-50%) translateZ(-1px);
        }
        }
        .product-wrapper:nth-of-type(3)::after{
          position: absolute;
          display: block;
          content: '';
          background: url(../img/talaverabeige.svg);
          width: 12vw !important;
          height: 12vw;
          transform: translateZ(-1px);
          top: 9%;
          background-size: cover;
          left: 15%;
          border-radius: 50%;
          @include media(">phone", "<=tablet"){
            width: 50vw !important;
            height: 50vw !important;
            left: 50%;
            background-position: -76px 0px;
            transform: translateX(-50%) translateZ(-1px);
          }
          }
    }
  }

  footer {
    background: $darkbrown;
    height: 65vh;
    padding: 25px 150px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    @include media(">phone", "<=tablet"){
      padding: 20px 120px;
      justify-content: center;
    }
      #footer-links{
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items:center;
        padding-bottom: 40px;
        padding-top: 10px;
        @include media(">phone", "<=tablet"){
          align-items: flex-start;
        }
        .footer-link{
          font-family: 'ArbescoDT-SemiBold';
          font-size: 1.5rem;
          color: white;
          @include media(">phone", "<=tablet"){

          }
          &:hover{
            cursor: pointer;
          }
        }
      }
    img{
      width: 50%;
      @include media(">phone", "<=tablet"){
        width: 100% !important;
      }
    }
  }
