@import "variables";
@import "node_modules/include-media/dist/include-media";


#above-fold{
    background: $background;
    width:100%;
    height: 80vh;
    height: calc(var(--vh, 1vh) * 80);
    position:relative;
    overflow: hidden;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          height: unset;
          height: 150vh;
        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      height: 150vh;
      height: calc(var(--vh, 1vh) * 150);
    }
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4% 5%;
      position: absolute;
      width: 100%;
      z-index: 999;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
            padding: 2% 5%;
          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop

      }
      .circlelogo-wrapper{
        width: 18vw;
        height: 18vw;
        border-radius: 50%;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
              width: 11vw;
              height: 11vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop
          width: 9.25vw;
          height: 9.25vw;
        }
        img.circle-logo{
          width: 100%;
          height: 100%;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

              }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop

          }
        }
      }
      nav{
        width: 75%;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
        ul#main-nav{
            display:flex;
            flex-flow:row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            font-weight: 600;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

              }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop

          }
          li.nav-item{
              font-size: 3.5vw;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-family: "ArbescoDT-Bold", Arial, sans-serif;
              color: #fff;
              transition: .2s all ease-in-out;
              cursor: pointer;
              @include media(">=phone"){  //phone defaults above
                @include media("landscape"){ //phone landscape
                  font-size: 2.5vw;
                }
              }
              @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
              @include media(">=desktop") {  //desktop

              }
            &:hover{
              color: $orange;
            }
            &:last-child{
              display: none;
              @include media(">=phone"){  //phone defaults above
                @include media("landscape"){ //phone landscape
                  display: block;
                  }
              }
              @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
              @include media(">=desktop") {  //desktop

              }
            }

          }// end nav-item
        } // end #main-nav
      } // end nav
    } //end header
    #carousel-stack-container{
        position:absolute;
        height:100%;
        width:100%;
        z-index: 1;
        @include media(">=phone"){  //phone defaults above
      	    @include media("landscape"){ //phone landscape

      	    }
      	}
      	@include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }

            }
        @include media(">=desktop") {  //desktop
            height: 100%;
        }
        .carousel-image{
            position:absolute;
            width: 100%;
            filter: brightness(0.75);
            height: 100%;
            @include media(">=phone"){  //phone defaults above
          	    @include media("landscape"){ //phone landscape

          	    }
          	}
            //
          	@include media(">=tablet"){    //tablet portrait

                  @include media("landscape") {  //tablet landscape

                  }

                }
            @include media(">=desktop") {  //desktop
              width: 70%;
              filter: unset;

            }
            &:nth-of-type(1){
                background: url('../img/drive_thru_mobile.jpg');
                background-position:0% 20%;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:nth-of-type(2){
                background: url('../img/tm_mobile_hero/latte_art_lighting.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                @include media(">=desktop"){
                  background-position: left;
                  background-size: contain;
                }
            }
            &:nth-of-type(3){
                background: url('../img/drive_mobile.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    #path-window{
        position:absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        background: transparent;
        left: 0;
        z-index: 2;
        transition: .3s all linear;
        height: 75%;
        display: none;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

            }
        }
        //
        @include media(">=tablet"){    //tablet portrait
          height: 90%;
              @include media("landscape") {  //tablet landscape

              }

            }
        @include media(">=desktop") {  //desktop
          display: flex;
          height: 100%;
        }
        #path-curve{
          height: 100%;
          width: 40%;
          filter: brightness(4.5);
          height: 100%;
          margin-left: -1px;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
          }
          //
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }

              }
          @include media(">=desktop") {  //desktop

          }

        }
        #white-block{
            width: 60%;
            height: 100%;
            background: $background;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 33%;
            margin-left: -2px;
            @include media(">=phone"){  //phone defaults above
                @include media("landscape"){ //phone landscape

                }
            }
            //
            @include media(">=tablet"){    //tablet portrait

                  @include media("landscape") {  //tablet landscape

                  }

                }
            @include media(">=desktop") {  //desktop
              padding-bottom: 30%;
            }
        }
    }
    #content-box {
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-top: 25%;
      z-index: 900;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            left: 0;
            padding-top: unset;
          }
      }
      //
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }

          }
      @include media(">=desktop") {  //desktop
        width: 60%;
        padding-bottom: 10%;
        height: calc(var(--vh, 1vh) * 100);
      }
      #top-heading{
        transform-style: preserve-3d;
        width: 100%;
        text-align: center;
        padding: 0 5%;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              margin-top: 5%;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          margin-top: 50px;
          text-align: center;
          padding: unset;
        }
        &:after{
          content: '';
          display: none;
          position: absolute;
          width: 100%;
          height:150%;
          background-image:url('../img/talavera.svg');
          background-repeat: no-repeat;
          opacity: 0.06;
          transform: translateZ(-1px);
          top: -15%;
          left: 15px;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                height: 150%;
                top: -20%;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            height: 150%;
            display: block;
          }
        }
        h3{
          font-family: "Viner Hand ITC", cursive;
          color: $lightYellow;
          font-size: 5.75vw;
          margin-bottom: 3vw;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                font-size: 4vw;
                margin-bottom: 5px;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            font-size: 2vw;
            color: $darkerbrown;
          }
        }
        h1{
          font-family: "ArbescoDT-Bold", Arial, sans-serif;
          color: white;
                  letter-spacing: 1px;

          text-transform: uppercase;
          font-size: 13vw;
          line-height: 1.5;
          margin-bottom: 5vw;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                font-size: 6.75vw;
                margin-bottom: 60px;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            font-size: 4vw;
            margin-bottom: 20px;
          }
        }
        p{
          font-family: 'ArbescoDT-Book', serif;
          font-size: 13px;
          line-height: 2;
          color: #fff;
          text-align: left;
          padding: 0 15% 30px 15%;
          text-shadow: 0px 0px 1px black;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                padding: 0 15%;
                font-size: 0.9rem;

              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            font-size: 1.33vw;
            padding: 0 10% 30px 10%;
            color: #685a54;
          }
        }
        div#cta {
          border: 3px solid #f2c572;
          padding: 4vw 5vw;
          font-family: 'ArbescoDT-SemiBold', serif;
          color: #f2c572;
          margin-top: 20px;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 4.5vw;
          width: 80%;
          margin: 0 auto;
          background: rgba(0,0,0,0.3);
          &:focus{
            outline: none;
          }
          &:active{
            outline: none;
          }
          &:hover{
            border-color: #A67E5B;
            color: #87643d;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            transform: translateY(-1px);
          }
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                width: 50%;
                font-size: 2.5vw;
                padding: 3vw 0;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            padding: 0px 30px;
            height: 53px;
            line-height: 50px;
            letter-spacing: 1px;
            font-size: 1.33vw;
          }
        }
      }
    }
}

#welcome-message{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15% 10%;
  @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding: 10%;
      }
  }
  //
  @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }

      }
  @include media(">=desktop") {  //desktop
    height: calc(var(--vh, 1vh) * 30);
    display:unset;
    padding: unset;
    position: absolute;
    background: transparent;
    transform: translateY(-135%);
    z-index: 999;
  }
  #shape-box{
    position: static;
    margin: 0;
    z-index: 999;
    transform-style: preserve-3d;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape

        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      z-index: 999;
      padding-left: 16%;
    }
    #shaper{
      display: none;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        display: block;
        float: left;
        shape-outside: polygon(0px 0px, 291px 0px, -44px 300px);
        width: 350px;
        height: 225px;
      }

    }
    p{
      font-family: 'ArbescoDT-Book', sans-serif;
      width: 100%;
      font-size: 14px;
      line-height: 2;
      color: $darkerbrown;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            font-size: 2.25vw;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        font-size: 1.33vw;
        width: 90%;
      }
      #first-letter{
        color: $lightYellow;
        float: left;
        font-family: 'ArbescoDT-Bold', serif;
        font-size: 75px;
        line-height: 60px;
        text-shadow: 0px 0px 1px black;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        &:hover {
          text-decoration-style: none !important;
          text-decoration: none !important;
        }
      }

      span{
        // color: $orange;
        color: $lightYellow;
                text-shadow: 0px 0px 1px black;

        cursor: pointer;
        &:hover{
          text-decoration-style: double !important;
          text-decoration: underline;

        }
      }
    }
  }
}

#horchata{
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 35px 0;
  background: url("../img/tileblock2.png");
  background-size: 8%;
  background-position: bottom;
  @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        height: unset;
        height: 110vh;
        padding: 30px 0;
        background-size: 6%;
      }
  }
  @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
  @include media(">=desktop") {  //desktop
    padding: 50px 0;
    background-size: 3%;
  }
  &::before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    top: -2px;
    left: 2px;
    z-index: 9;
  }

  #promo-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .promo-text{
      background: $background;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      font-family: 'ArbescoDT-Book', sans-serif;
      grid-row: 2/3;
      padding: 8% 10%;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            grid-row: unset;
            padding: 10% 5%;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        padding: 9% 15%;
        grid-row: unset;
      }

      h3{
        text-transform: uppercase;
        font-family: 'ArbescoDT-Bold', sans-serif;
        color: $lightYellow;
        letter-spacing: 1px;
        font-size: 1.1rem;
        font-weight: 600;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 2.25vw;
              color: $orange;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          font-size: 1.25rem;
        }

      }
      h2{
        text-transform: capitalize;
        font-family: 'Viner Hand ITC';
        color: #685a54;
        font-size: 1.5rem;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 4vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          font-size: 2.2rem;
        }

      }
      p{
        font-family: 'ArbescoDT-Book', sans-serif;
        color: $darkerbrown;
        font-size: 13px;
        line-height: 2;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 1.75vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          font-size: 1.33vw;
          line-height: 2.2;
        }

      }
      a{
        text-decoration: none;
        color: $lightYellow;
                letter-spacing: 1px;
        font-family: 'ArbescoDT-Bold';
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            color: $orange;

          }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
      }

    }
    .promo-photo{
      background: url('../img/echo_park.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      grid-row: 1/2;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            grid-row: unset;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        grid-row: unset;
      }

    }
  }
}


#location-section{
  background: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 50px 0px 75px 0;
  @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding: 10% 5%;
      }
  }
  @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
  @include media(">=desktop") {  //desktop
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background: #FAF9F6;
      top: -2px;
      left: 2px;
      z-index: 9;
    }
    h1{
      //these styles should have mixins
      text-align: center;
      padding: 0;
      margin-bottom: 60px;
      font-size: 2rem;
      font-family: "ArbescoDT-SemiBold", Arial, sans-serif;
      color: #51453f;
      letter-spacing: 2px;
      display: inline-block;
      text-transform: capitalize;
      position: relative;
      transform-style: preserve-3d;
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-color: $lightYellow;
      text-decoration-style: double;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            margin-bottom: 10%;
            font-size: 4.5vw;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        text-align: left;
        padding-left: 6rem;
        margin-bottom: 50px;
        font-size: 2.75rem;
      }

  }

    #location-container{
      display: flex;
      flex-flow: column;
      padding: 0 5%;
      justify-content: space-around;
      align-items: center;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            flex-flow: row;
            padding: 0;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        flex-flow: row;
      }

      .location{
        position: relative;
        width: 65vw;
        height: 52vw;
        margin-bottom: 50px;
        border: 1px solid #897e79;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        overflow: hidden;
        border-radius: 3px;
        cursor: pointer;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              height: 26vw;
              width: 28vw;
              margin-bottom: 0;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          width: 350px;
          height: 425px
        }
        &:last-of-type{
          margin-bottom: 0;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
          }
          @include media(">=desktop") {  //desktop
            margin-bottom: 0;
          }
        }

        .zoomable-bg{
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          transition: none;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            transition: .2s all ease-in-out;
          }
          &:hover{
            transform: none;
            @include media(">=desktop"){
              transform: scale(1.2);
            }
          }
        }
      }
      #l1{
        background-image: url("../img/la_cafe.jpg");
      }
      #l2{
        background-image: url("../img/la_cafe_outside.jpeg");
      }
      #l3{
        background-image: url("../img/norcal_cafe.jpg");
        background-position: bottom;
      }
      .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 30px;
        h3{
          font-family: "ArbescoDT-SemiBold", sans-serif;
          color: white;
          font-size: 1.3rem;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          height: 53px;
          line-height: 50px;
          background: rgba(87,73,66,0.85);
          border-top: 3px solid $lightYellow;
          border-bottom: 3px solid $lightYellow;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                // font-size: 0.75rem;
                font-size: 2.5vw;
                height: 45px;
                line-height: 41px;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            font-size: 2rem;
          }

        }
      }
    }

}

#sourcing{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: url("../img/tileblock2.png");
  background-size: 8%;
  background-position: bottom;
  position: relative;
  padding: 35px 0;
  @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        height: unset;
        height: 110vh;
        padding: 30px 0;
        background-size: 6%;
      }
  }
  @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
  @include media(">=desktop") {  //desktop
    padding: 50px 0;
    background-size: 3%;
  }
  .promo-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .promo-photo{
      background: url('../img/farmer.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      grid-row: 1/2;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            grid-row: unset;
            background-position: right;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        grid-row: unset;
      }

    }
    .promo-text{
      background: $background;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      padding: 8% 10%;
      grid-row: 2/3;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            grid-row: unset;
            padding: 10% 5%;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        grid-row: unset;
        padding: 9% 15%;
      }

      h3{
        text-transform: uppercase;
        font-family: 'ArbescoDT-Bold', sans-serif;
        color: $lightYellow;
        letter-spacing: 1px;
        font-size: 1.1rem;
        font-weight: 600;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 2.25vw;
              color: $orange;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          font-size: 1.25rem;
        }

      }
      h2{
        text-transform: capitalize;
        font-family: 'Viner Hand ITC';
        color: #685a54;
        font-size: 1.5rem;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 4vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          line-height: 1.3;
        }

      }
      p{
        font-family: 'ArbescoDT-Book', sans-serif;
        color: $darkerbrown;
        font-size: 13px;
        line-height: 2;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 1.75vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          font-size: 1.33vw;
          line-height: 2.2;
        }

      }
      a{
        text-decoration: none;
        color: $lightYellow;
                letter-spacing: 1px;
        font-family: 'ArbescoDT-Bold';
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            color: $orange;
          }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
      }

    }
  }
}

#shop{
  padding: 60px 0;
  background: #fbf9f8;
  overflow-x: hidden;
  @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding-bottom: 80px;
      }
  }
  @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
  @include media(">=desktop") {  //desktop

  }

  h1{
    display: block;
    text-align: center;
    padding: 0;
    align-self: unset;
    font-size: 2rem;
    margin-bottom: 65px;
    font-family: "ArbescoDT-SemiBold", Arial, sans-serif;
    color: #51453f;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    transform-style: preserve-3d;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: $lightYellow;
    text-decoration-style: double;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          margin-bottom: 8%;
          font-size: 4.5vw;
        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      display: inline-block;
      text-align: left;
      padding-left: 6rem;
      font-size: 2.75rem;
      margin-bottom: 60px;
    }

}
// Explicit height?
  #shop-gallery-container{
    position: relative; //potentially unnecessary
    width: 80%;
    margin: 0 auto;
    // height: 80vh;
    // height: calc(var(--vh, 1vh) * 80);
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
        // height: 130vh;
        // height: calc(var(--vh, 1vh) * 130);
        width: 100%;
        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      // height: 90vh;
      // height: calc(var(--vh, 1vh) * 90);
    }

    .slider_btn{
      position: absolute;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      top: 50%;
      transform: translateY(-50%);
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        display: none;
      }
      img{
        width: 25px;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              width: 35px;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop

        }

      }

    }
    .slider_btn--left{
      left: -20px;
      z-index: 2;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            left: 25px;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop

      }

    }
    .slider_btn--right{
      right: -20px;
      z-index: 2;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            right: 25px;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop

      }

    }
    .slider-track-container{
      position:relative;
      z-index: 1;
      height: 100%; //only necessary if parent shop-gallery-container has explicit height.
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop

      }

      .slider-track{
        //remove all list stylings from <ul class= ".slider-track">
        position: relative;
        // height: 475px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        left: 0;
        transition: .4s all ease-in;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              // height: 100%;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          // height: 100%;
        }

        .slide{
          width: 80vw;
          background: #fbf9f8;
          position: absolute;
          // height: calc(var(--vh, 1vh) * 90);
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                width: 100%;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop
            width: 33vw;
          }
          .product-wrapper{

            @include media(">=phone"){  //phone defaults above
                @include media("landscape"){ //phone landscape
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: auto auto;
                  padding: 0 10%;
                }
            }
            @include media(">=tablet"){    //tablet portrait

                  @include media("landscape") {  //tablet landscape

                  }
                }
            @include media(">=desktop") {  //desktop

            }

            .product-image{
              position:relative;
              margin: 0 auto;
              width: 80%;
              @include media(">=phone"){  //phone defaults above
                  @include media("landscape"){ //phone landscape
                    width: 80%;
                    grid-column: 1/2;
                    grid-row: 1/2;
                  }
              }
              @include media(">=tablet"){    //tablet portrait

                    @include media("landscape") {  //tablet landscape

                    }
                  }
              @include media(">=desktop") {  //desktop
                width: 60%;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include media(">=phone"){  //phone defaults above
                    @include media("landscape"){ //phone landscape

                    }
                }
                @include media(">=tablet"){    //tablet portrait

                      @include media("landscape") {  //tablet landscape

                      }
                    }
                @include media(">=desktop") {  //desktop

                }
              }
            }
            h4{
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
              word-spacing: 1px;
              margin-bottom: 20px;
              position: relative;
              font-size: 1.2rem;
              color: rgba(42,24,14,0.768627);
              font-family: 'ArbescoDT-Bold';
              text-align: center;
              @include media(">=phone"){  //phone defaults above
                  @include media("landscape"){ //phone landscape
                    font-size: 3vw;
                    grid-column: 1/2;
                    grid-row: 2/3;
                  }
              }
              @include media(">=tablet"){    //tablet portrait

                    @include media("landscape") {  //tablet landscape

                    }
                  }
              @include media(">=desktop") {  //desktop

              }
              &:after{
                position: absolute;
                content: '';
                display: block;
                height: 2px;
                width: 40%;
                background: $lightYellow;
                left: 50%;
                transform: translateX(-50%);
                @include media(">=phone"){  //phone defaults above
                    @include media("landscape"){ //phone landscape
                      top: 125%;
                    }
                }
                @include media(">=tablet"){    //tablet portrait

                      @include media("landscape") {  //tablet landscape

                      }
                    }
                @include media(">=desktop") {  //desktop

                }
              }
            }
            p{
              line-height: 2;
              margin-bottom: 20px;
              font-size: 13px;
              padding: 0 14%;
              font-family: 'ArbescoDT-Book', serif;
              color: $darkerbrown;
              @include media(">=phone"){  //phone defaults above
                  @include media("landscape"){ //phone landscape
                    font-size: 2vw;
                    grid-column: 2/3;
                    grid-row: 1/2;
                    padding: 0;
                    align-self: center;
                  }
              }
              @include media(">=tablet"){    //tablet portrait

                    @include media("landscape") {  //tablet landscape

                    }
                  }
              @include media(">=desktop") {  //desktop
                font-size: 1vw;
              }

            }
            .buy-btn{
              @include button-style;
              text-transform: uppercase;
              letter-spacing: 1px;
              cursor: pointer;
              color: rgba(42,24,14,0.768627);
              outline: none;
              line-height: 30px;
              height: 30px;
              font-family: 'ArbescoDT-Bold', sans-serif;
              border: 2px solid rgba(42,24,14,0.768627);
              font-size: 0.8rem;
              box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
              padding: 0 10px;
              display: block;
              margin: 0 auto;
              @include media(">=phone"){  //phone defaults above
                  @include media("landscape"){ //phone landscape
                    grid-column: 2/3;
                    grid-row: 2/3;
                    margin-top: -8px;
                    font-size: 2vw;
                    padding: 0 20px;
                    height: 34px;
                    line-height: 32px;

                  }
              }
              @include media(">=tablet"){    //tablet portrait

                    @include media("landscape") {  //tablet landscape

                    }
                  }
              @include media(">=desktop") {  //desktop
                line-height: 42px;
                height: 43px;
                font-size: 1vw;
                padding: 0 30px;
              }
            }// close .buy-btn
          } //close .product-wrapper
        } //close .slide
      } //close .slider-track
    } // close .slider-track-container
  } //close .shop-gallery-container
} //close #shop

  footer {
    background: $darkerbrown;
    height: 65vh;
    height: calc(var(--vh, 1vh) * 65);
    padding: 20px 120px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          height: 60vh;
          height: calc(var(--vh, 1vh) * 60);
          justify-content: space-around;
          padding: 0;
        }
    }
    @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
    @include media(">=desktop") {  //desktop
      padding: 25px 150px;
      justify-content: flex-end;
    }
      #footer-links{
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 40px;
        padding-top: 10px;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              padding: 0;
              display: flex;
              flex-flow: row;
              align-items: center;
              width: 100%;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          align-items:center;
        }
        .footer-link{
          font-family: 'ArbescoDT-SemiBold';
          font-size: 1.3rem;
          color: white;
          @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                font-size: 1.1rem;
              }
          }
          @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
          @include media(">=desktop") {  //desktop

          }
          &:hover{
            cursor: pointer;
          }
          // a {
          //   font-family: 'ArbescoDT-SemiBold';
          //   font-size: 1.3rem;
          //   color: white;
          // }
        }
      }
    img{
      width: 200%;
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            width: 75%;
            margin-left: 10px;
            margin-bottom: 10px;
            align-self: start;
          }
      }
      @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
      @include media(">=desktop") {  //desktop
        width: 50%;
      }
    }
  }
