@import "variables";
@import "node_modules/include-media/dist/include-media";


body#cafes-page
{
  transition: 1s all;
  background: $background;
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 5%;
    position: absolute;
    z-index: 999;
    width: 100%;
    @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding: 2% 5%;
        }
    }
    @include media(">=tablet"){    //tablet portrait

      @include media("landscape") {  //tablet landscape

      }
    }
    @include media(">=desktop") {  //desktop

    }
    .circlelogo-wrapper{
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          width: 11vw;
          height: 11vw;
          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        width: 8vw;
        height: 8vw;
      }
      img.circle-logo{
        width: 100%;
        height: 100%;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
      }
    }
    nav{
      width: 75%;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        width: 57.5%;
      }
      ul#main-nav{
          display:flex;
          flex-flow:row;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;
          font-weight: 600;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
        li.nav-item{
            font-size: 3.5vw;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "ArbescoDT-Bold", Arial, sans-serif;
            color: #fff;
            transition: .2s all ease-in-out;
            cursor: pointer;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                font-size: 2.5vw;
              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              font-size: 1.25vw;
            }
          &:hover{
            color: $lightYellow;
          }
          &:last-child{
            display: none;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              display: block;
            }
          }
        }
      }
    }
  } //end <HEADER>
  #hero{
    background: url('../img/cafes.jpg');
    background-size: cover;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    position: relative;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          height: 110vh;
          background-position: center;
        }
    }
    @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
    }
    @include media(">=desktop") {  //desktop
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
    .overlay{
      padding: 10vw;
      padding-top: 20%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
      flex-flow: column;
      justify-content: center;
      align-items: center;;
      background: rgba(0,0,0,0.4);
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
      }
      @include media(">=desktop") {  //desktop
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 0 8vw 0 0;
        padding-bottom: 9%;
      }
      h3{
        color: #fff;
        font-size: 9vw;
        font-family: 'ArbescoDT-Bold', serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 8vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
        }
        @include media(">=desktop") {  //desktop
          grid-row: 2;
          align-self: end;
          text-align: right;
          font-size: 4vw;
        }
      }

      #nearest-cafe{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;
        border: 2px solid #f2c572;
        padding: 3vw 5vw;
        font-family: 'MarrSans-Medium', sans-serif;
        background-color: #f5deba;
        background: radial-gradient(circle, #f5deba 1%, #e9bf75 100%);
        color: $darkerbrown;
        margin-top: 20px;
        cursor: pointer;
        font-size: 3.5vw;
        width: 50%;
        transition: 0.15s all ease-in-out;
        &:focus{
          outline: none;
        }
        &:active{
          outline: none;
        }
        &:hover{
          border-color: $darkerbrown;

        }
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              width: 50%;
              font-size: 2.5vw;
              padding: 3vw 0;
            }
        }
        @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
        @include media(">=desktop") {  //desktop
          box-shadow: 0px 3px 15px $darkerbrown;
          color: $darkerbrown;
          background: $lightYellow;
          width: 15%;
          font-size: 1.25vw;
          padding: 1.25vw 0;
          font-weight: 400;
          margin: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 10%;
        }
      }
      // #nearest-cafe{
      //   border: 3px solid #fff;
      //   padding: 4vw 5vw;
      //   font-family: 'ArbescoDT-SemiBold', serif;
      //   color: #fff;
      //   cursor: pointer;
      //   text-transform: uppercase;
      //   font-size: 4.5vw;
      //   background: rgba(0,0,0,0.3);
      //   position: absolute;
      //   width: 70%;
      //   bottom: 10%;
      //   @include media(">=phone"){  //phone defaults above
      //       @include media("landscape"){ //phone landscape
      //         font-size: 2.5vw;
      //         width: 33%;
      //         padding: 2vw 2.5vw;
      //       }
      //   }
      //   @include media(">=tablet"){    //tablet portrait
      //
      //       @include media("landscape") {  //tablet landscape
      //
      //       }
      //   }
      //   @include media(">=desktop") {  //desktop
      //
      //   }
      // }
    }
  }
  blockquote{
    padding: 0 30px;
    font-family: 'ArbescoDT-Bold';
    font-size: 1.6rem;
    text-align: left;
    padding: 50px 30px;
    line-height: 1.75;
    color: $darkerbrown;
    position: relative;
    transform-style: preserve-3d;
    @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        margin-top: 50px;
        font-size: 4vw;
        padding: 50px 100px;
      }
    }
    @include media(">=tablet"){    //tablet portrait

      @include media("landscape") {  //tablet landscape

      }
    }
    @include media(">=desktop") {  //desktop
          font-size: 2vw;
          padding: 50px 25vw;
    }

  &:after{
    display: block;
    content: '';
    position: absolute;
    background: url(../img/talavera.svg);
    height: 70%;
    width: 100%;
    top: 15%;
    left: -1%;
    transform: translateZ(-1px);
    opacity: 0.06;

  }
  }
  #location-nav{
      margin-top: 15px;
      display: grid;
      grid-template-rows: auto auto;
      font-family: 'ArbescoDT-Book', serif;

      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
      }
      @include media(">=desktop") {  //desktop

      }
      div#counties{
          padding: 1.75vw 10vw;
          ul#counties-nav{
            line-height: 1;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;
              li.county-item{
                  font-family: 'ArbescoDT-Bold', cursive;
                  font-size: 4.25vw;
                  cursor: pointer;
                  text-transform: uppercase;
                  color: $darkerbrown;
                  border-bottom: 1px solid $background;
                  padding-bottom: 3px;
                  @include media(">=phone"){  //phone defaults above
                    @include media("landscape"){ //phone landscape
                      font-size: 2.5vw;
                    }
                  }
                  @include media(">=tablet"){    //tablet portrait

                    @include media("landscape") {  //tablet landscape

                    }
                  }
                  @include media(">=desktop") {  //desktop
                    font-size: 2vw;
                  }
                  &:hover{

                  }
                  span{
                    font-weight: 400;
                  }
              }
          }
      }
      div#cities{
          position: relative;
          padding: 0 5vw;
          margin-bottom: 15px;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            padding: 0 15vw;
          }
          ul.cities-list{
            text-align: center;
            transition: .2s all ease-in-out;
            transform-origin: top;
              &:nth-of-type(1){

              }
              &:nth-of-type(2){

              }
              &:nth-of-type(3){

              }
              li.city{
                font-size: 3.75vw;
                color: $darkerbrown;
                display: inline-block;
                padding: 0px 3%;
                line-height: 3;
                font-family: 'MarrSansCondensed-Medium-Reduced';
                @include media(">=phone"){  //phone defaults above
                  @include media("landscape"){ //phone landscape
                    font-size: 2vw;
                  }
                }
                @include media(">=tablet"){    //tablet portrait

                  @include media("landscape") {  //tablet landscape

                  }
                }
                @include media(">=desktop") {  //desktop
                  font-size: 1.25vw;
                }
              }
          }

      }
  } //end of div#location-nav
  section#locations-container{
  @include media(">=phone"){  //phone defaults above
    @include media("landscape"){ //phone landscape
	>.cafe-wrapper {
		&:nth-of-type(2n) {
			.cafe-details {
				grid-column: 1/2 !important;
        // padding-left: 50%;
			}
			>a {
				grid-column: 2/3 !important;
			}
			grid-auto-flow: dense !important;
		}
	}
    }
  }
  @include media(">=tablet"){    //tablet portrait

    @include media("landscape") {  //tablet landscape

    }
  }
  @include media(">=desktop") {  //desktop

  }
    div.cafe-wrapper{
      display: grid;
      grid-template-rows: auto auto;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          grid-template-rows: auto;
          grid-auto-rows: min-content;
          grid-template-columns: 1fr 1fr;
        }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        margin-bottom: 50px;
          grid-template-columns: auto auto;
      }
      a{
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
                            grid-column: 1/2;
          }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
        div.photo-wrapper{
          width: 100vw;
          height: 65vw;
          position: relative;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

              width: 100%;
                height: calc(var(--vh, 1vh) * 100);
            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop

          }
          .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            // background: rgba(0,0,0,0.6);
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop

            }
            h3{
              color: $lightYellow;
              font-size: 6.25vw;
              font-family: 'ArbescoDT-SemiBold', serif;
              text-transform: uppercase;
              width: 100%;
              height: 43px;
              line-height: 40px;
              background: rgba(87,73,66,0.85);
              border-top: 3px solid $lightYellow;
              border-bottom: 3px solid $lightYellow;
              text-align: center;
              @include media(">=phone"){  //phone defaults above
                @include media("landscape"){ //phone landscape
                  font-size: 3vw;
                }
              }
              @include media(">=tablet"){    //tablet portrait

                @include media("landscape") {  //tablet landscape

                }
              }
              @include media(">=desktop") {  //desktop
                height: 63px;
                line-height: 60px;
              }
            }
          }
          img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                width: 50vw;
                // height: calc(var(--vh, 1vh) * 100);

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              width: unset;
              width: inherit;
            }
          }
        }
      }
      div.cafe-details{
        font-family: 'ArbescoDT-Book', serif;
        color: $darkerbrown;
        width: 100vw;
        height: 50vw;
        background: #fbf9f8;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 5vw 5vw;
        padding-left: 10vw;
        position: relative;
        justify-content: center;
        align-items: center;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape
            grid-column: 2/3;
            width: unset;
              padding: 5vw;
                height: calc(var(--vh, 1vh) * 100);
          }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
          font-size: 1.33vw;
        }
        div.address{
          justify-self: start;
          grid-column: 1/2;
          grid-row: 1/2;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            grid-column: unset;
            grid-row: unset;
          }
        }
        div.hours{
          grid-column: 2/3;
          grid-row: 1/2;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            grid-column: unset;
            grid-row: unset;
          }
          span{
            font-weight: 600;
            text-transform: uppercase;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop

            }
          }
        }
        button{
          grid-column: 1/2;
          grid-row: 2/3;
          // position: absolute;
          justify-self: start;
          align-self: start;
          @include button-style;
          text-transform: uppercase;
          letter-spacing: 1px;
          cursor: pointer;
          color: rgba(42,24,14,0.768627);
          outline: none;
          line-height: 30px;
          height: 30px;
          font-family: 'ArbescoDT-SemiBold', sans-serif;
          border: 2px solid rgba(42,24,14,0.768627);
          font-size: 0.8rem;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
          padding: 0 10px;
          display: block;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            grid-column: unset;
            grid-row: unset;
            line-height: 50px;
            height: 53px;
            font-size: 1.25vw;
          }
        }
        div.contact{
          grid-column: 2/3;
          grid-row: 2/3;
          align-self: start;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape

            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            grid-column: unset;
            grid-row: unset;
          }
          span{
            font-weight: 600;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop

            }
          }

        }
      }
    }
  }
}//end body#cafe-page

.county-active {
  color: $orange !important;
  border-color: $darkerbrown !important;
}

.out-of-the-way{
  transform: scale(0);
}

#top-btn {
  @include button-style;
  border-radius: 50%;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  border: none;
  z-index: 9999;
  width: 15vw;
  height: 15vw;
  color: $darkerbrown;
  border: 2px solid $darkerbrown;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  display: none;
  @include media(">=phone"){  //phone defaults above
    @include media("landscape"){ //phone landscape
      width: 9vw;
      height: 9vw;
    }
  }
  @include media(">=tablet"){    //tablet portrait

    @include media("landscape") {  //tablet landscape

    }
  }
  @include media(">=desktop") {  //desktop
      width: 5vw;
      height: 5vw;
  }
}

// #locations-container > .cafe-wrapper:nth-of-type(2n) .cafe-details{
//     background: green !important;
//     grid-column: 1/2 !important;
// }

// #locations-container > .cafe-wrapper:nth-of-type(2n) > a {
//     grid-column: 2/3 !important;
// }

// #locations-container > .cafe-wrapper:nth-of-type(2n) {
//     grid-auto-flow: dense !important;
// }
