@import "variables";
@import "node_modules/include-media/dist/include-media";


body#menu-page
{
  transition: 1s all;
background: $background;
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 5%;
    position: absolute;
    z-index: 999;
    width: 100%;
    @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding: 2% 5%;
        }
    }
    @include media(">=tablet"){    //tablet portrait

      @include media("landscape") {  //tablet landscape

      }
    }
    @include media(">=desktop") {  //desktop

    }
    .circlelogo-wrapper{
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          width: 11vw;
          height: 11vw;
          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        width: 8vw;
        height: 8vw;
      }
      img.circle-logo{
        width: 100%;
        height: 100%;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
      }
    }
    nav{
      width: 75%;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        width: 50%;
      }
      ul#main-nav{
          display:flex;
          flex-flow:row;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;
          font-weight: 600;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
        li.nav-item{
            font-size: 3.5vw;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "ArbescoDT-Bold", Arial, sans-serif;
            color: #fff;
            transition: .2s all ease-in-out;
            cursor: pointer;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                font-size: 2.5vw;
              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
                font-size: 1.25vw;
            }
          &:hover{
            color: $lightYellow;
          }
          &:last-child{
            display: none;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

                }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              display: block;
            }
          }
        }
      }
    }
  } //end <HEADER>
  #hero{
    background: url('../img/latte_art_lighting.jpg');
    background-size: cover;
    background-position: 45%;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    position: relative;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          height: 110vh;
          background-position: center;
        }
    }
    @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
    }
    @include media(">=desktop") {  //desktop
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
    .overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      padding: 10vw;
      padding-top: 20%;
      background: rgba(0,0,0,0.4);
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
      }
      @include media(">=desktop") {  //desktop

      }
      h3{
        color: #fff;
        font-size: 13vw;
        text-align: center;
        font-family: 'ArbescoDT-Bold', serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 8vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
        }
        @include media(">=desktop") {  //desktop

        }
      }

    }
  }
  #menu-body{
    padding: 20px;
    background: $background;
    @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding: 0 14vw;
      }
    }
    @include media(">=tablet"){    //tablet portrait

      @include media("landscape") {  //tablet landscape

      }
    }
    @include media(">=desktop") {  //desktop

    }
    h1,h2,h3,h4,h5,h6{
      text-align: center !important;
      font-family: 'ArbescoDT-SemiBold', serif;
    }
    p{
      font-family: 'ArbescoDT-Book', serif;
    }
    div.menu-list{ // three panes, cold - hot - pastries
      transition: all .5s;
              margin-top: 80px;
      // h2.menu-list-title{
      //   text-transform: uppercase;
      //   font-size: 1.5rem;
      //   margin-bottom: 70px;
      //   margin-top: 40px;
      //   font-family: "ArbescoDT-SemiBold", Arial, sans-serif;
      //   color: $darkerbrown;
      //   letter-spacing: 2px;
      //   text-decoration: underline;
      //   text-underline-position: under;
      //   text-decoration-color: $lightYellow;
      //   text-decoration-style: double;
      //   @include media(">=phone"){  //phone defaults above
      //     @include media("landscape"){ //phone landscape
      //       font-size: 4.5vw;
      //     }
      //   }
      //   @include media(">=tablet"){    //tablet portrait
      //
      //     @include media("landscape") {  //tablet landscape
      //
      //     }
      //   }
      //   @include media(">=desktop") {  //desktop
      //     font-size: 2.5vw;
      //   }
      // }
      div.sub-menu-list-wrapper{
        margin-bottom: 60px;
        h3.sub-menu-list-title{
          font-size: 1.25rem;
          margin-bottom: 5px;
          color: $darkerbrown;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 3vw;
            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            font-size: 2.5vw;
          }
        }
        p.header-description{
          font-style: italic;
          font-size: 0.8rem;
          text-transform: lowercase;
          text-align: center;
          margin-bottom: 15px;
          color: $orange;
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 1.5vw;
            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
            font-size: 1.33vw;
          }
        }
        ul.sub-menu-list{
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              margin-top: 7.5%;
            }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop

          }

          li.sub-menu-list-item{
            color: $darkerbrown;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 3;
            letter-spacing: 1px;
            font-size: 0.85rem;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape
                font-size: 2vw;

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              font-size: 1.25vw;
              line-height: 2;
            }
          }
        }
      }
    }
    div#cold-beverages{

    }
    div#hot-beverages{
    }
    div#pastries{
      h3{
        margin-bottom: 15px;
      }
    }
  }
}

.hidden{
  display: none;
}
.visuallyhidden{
  opacity: 0;
}
