@import "variables";
@import "node_modules/include-media/dist/include-media";

body#shop-page{
  overflow-x: hidden;
  background: $background;
  // mobile content here
  @include media(">=phone"){  //phone defaults above
    @include media("landscape"){ //phone landscape

    }
  }
  @include media(">=tablet"){    //tablet portrait

    @include media("landscape") {  //tablet landscape

    }
  }
  @include media(">=desktop") {  //desktop

  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 5%;
    position: absolute;
    width: 100%;
    z-index: 999;
    @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape
        padding: 2% 5%;
        }
    }
    @include media(">=tablet"){    //tablet portrait

      @include media("landscape") {  //tablet landscape

      }
    }
    @include media(">=desktop") {  //desktop

    }
    .circlelogo-wrapper{
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          width: 11vw;
          height: 11vw;
          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        width: 8vw;
        height: 8vw;
      }
      img.circle-logo{
        width: 100%;
        height: 100%;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
      }
    }
    nav{
      width: 75%;
      @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
      }
      @include media(">=desktop") {  //desktop
        width: 50%;
      }
      ul#main-nav{
          display:flex;
          flex-flow:row;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;
          font-weight: 600;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

            }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop

        }
        li.nav-item{
            font-size: 3.5vw;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "ArbescoDT-Bold", Arial, sans-serif;
            color: #fff;
            transition: .2s all ease-in-out;
            cursor: pointer;
          &:hover{
            color: $orange;
          }
          &:last-child{
            display: none;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              display: block;
            }
          }
          @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
                font-size: 2.5vw;
              }
          }
          @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
          }
          @include media(">=desktop") {  //desktop
                font-size: 1.25vw;
          }
        }// end nav-item
      } // end #main-nav
    } // end nav
  } //end header
  #hero{
    background: url('../img/coffee_product.jpg');
    background-size: cover;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    position: relative;
    @include media(">=phone"){  //phone defaults above
        @include media("landscape"){ //phone landscape
          height: 110vh;
          background-position: center;
        }
    }
    @include media(">=tablet"){    //tablet portrait

        @include media("landscape") {  //tablet landscape

        }
    }
    @include media(">=desktop") {  //desktop

    }
    .overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10vw;
      padding-top: 20%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
      flex-flow: column;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      background: rgba(0,0,0,0.4);
      @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
      }
      @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
      }
      @include media(">=desktop") {  //desktop

      }
      h3{
        color: #fff;
        font-size: 13vw;
        font-family: 'ArbescoDT-Bold', serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include media(">=phone"){  //phone defaults above
            @include media("landscape"){ //phone landscape
              font-size: 8vw;
            }
        }
        @include media(">=tablet"){    //tablet portrait

            @include media("landscape") {  //tablet landscape

            }
        }
        @include media(">=desktop") {  //desktop

        }
      }
      h4{
        color: $lightYellow;
        font-family: 'Viner Hand ITC', cursive;
        position: absolute;
        bottom: 0;
      }
    } // end overlay
  }// end hero
  #products-main{
    padding: 50px 30px;
    @include media(">=phone"){  //phone defaults above
      @include media("landscape"){ //phone landscape

      }
    }
    @include media(">=tablet"){    //tablet portrait

      @include media("landscape") {  //tablet landscape

      }
    }
    @include media(">=desktop") {  //desktop
      padding: 50px 15vw;
    }
    h1{
      text-align: left;
      margin-bottom: 60px;
      font-size: 2rem;
      font-family: "ArbescoDT-SemiBold", Arial, sans-serif;
      color: #51453f;
      letter-spacing: 2px;
      display: inline-block;
      text-transform: capitalize;
      position: relative;
      transform-style: preserve-3d;
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-color: $lightYellow;
      text-decoration-style: double;
    }
    ul#collection-container{
        padding: 0 50px;
        @include media(">=phone"){  //phone defaults above
          @include media("landscape"){ //phone landscape

          }
        }
        @include media(">=tablet"){    //tablet portrait

          @include media("landscape") {  //tablet landscape

          }
        }
        @include media(">=desktop") {  //desktop
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 100px;
        }
        li.product{
            min-height: 50vh;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            padding: 0 30px !important;
            @include media(">=phone"){  //phone defaults above
              @include media("landscape"){ //phone landscape

              }
            }
            @include media(">=tablet"){    //tablet portrait

              @include media("landscape") {  //tablet landscape

              }
            }
            @include media(">=desktop") {  //desktop
              min-height: 75vh;
            }
            img{
                margin-bottom: 10px;
            }
            h3{
                font-family: 'ArbescoDT-SemiBold', serif;
            }
            div.quantity{

            }
            div.add-item-btn{

            }
            &:nth-of-type(1){
                background: rgb(181,157,147);
                background: linear-gradient(148deg, rgba(181,157,147,0.850577731092437) 38%, rgba(104,90,84,1) 100%);
            }
            &:nth-of-type(2){
                background: rgb(255,208,120);
                background: linear-gradient(148deg, rgba(255,208,120,0.850577731092437) 38%, rgba(242,197,114,1) 100%);
            }
            &:nth-of-type(3){
                background: lightblue;
            }
            &:nth-of-type(4){
                background: rgb(236,155,7);
                background: linear-gradient(148deg, rgba(236,155,7,1) 38%, rgba(240,184,79,0.8897934173669468) 100%);
            }
            button{
                background-color: #f5deba;
                background: radial-gradient(circle, #f5deba 1%, #e9bf75 100%);
                text-transform: uppercase;
                letter-spacing: 1px;
                cursor: pointer;
                color: rgba(42,24,14,0.768627);
                outline: none;
                line-height: 30px;
                height: 30px;
                font-family: 'ArbescoDT-SemiBold', sans-serif;
                border: 2px solid rgba(42,24,14,0.768627);
                font-size: 0.8rem;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                padding: 0 10px;
                display: block;
                position: relative;
                top: 25px;
            }
        }
    }
    #checkout{
      transition: .4s all;
      background: white;
      position: fixed;
      right:0;
      top: 50%;
      min-height: 30%;
      height: fit-content;
      width: 85%;
      padding: 10% 5%;
      transform: translate(100%, -50%);
      box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.3);
      // transform: translate(-20% -50%);
      #cart-show-hide{
        color: $lightYellow;
        background: $darkerbrown;
        display: inline-block;
        font-size: 1.5rem;
        padding: 8px;
        cursor: pointer;
        position:absolute;
        top: 50%;
        transform:translate(-150%, -50%);
        box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.3);

      }
      #cart-table{
       font-size: 0.8rem;
       display: inline-block;
       font-family: 'ArbescoDT-SemiBold', serif;
       tr{
         &:first-child{
           border-bottom: 1px solid $orange;
         }
       }
       th{
         font-size: 0.9rem;
         font-weight: 600;
         padding: 5px 15px 15px 0;
       }
        td{
         padding: 5px 15px;
         padding-left: 0;
         margin-bottom: 10px;
        }
      }
      #total{
          width: 100%;
          text-align: right;
          font-size: 0.9rem;
          font-family: 'ArbescoDT-Bold', serif;
          padding-right: 30px;
          margin-top: 30px;

      }
    }
  } // End products-main
}// End #about-page total

.menu-visible{
  transform: translate(0%, -50%) !important;
}
