@import "node_modules/include-media/dist/include-media";

// $darkbrown: #2a180ec4;
// $darkerbrown: #26160D;
// $orange:#EC9B07;
// $otherOrange: #de930a;
// $background: #FAF9F6;
// $cream: rgb(235, 234, 229);
// $lightBrown: #685a54;
// $lightYellow: #f2c572;
// $offOrange: #ba834d;
// $lightBlue: #7f9fc1;
// //adobe colors
// $lightestBlue: rgb(163, 191, 217);
// $blue: rgb(63, 85, 115);
// $citrus: rgb(191, 110, 38);
$background: #FAF9F6;
$darkerbrown: #26160D;
$lightbrown: rgb(115, 90, 69);
$orange: rgb(191, 121, 59);
$lightYellow: rgb(242, 188, 121);






@font-face {
  font-family: 'Viner Hand ITC';
  src: url('../VinerHand/VinerHand.ttf')  format('truetype');
}

@font-face {
  font-family: 'ArbescoDT-Bold';
  src: url('../Arbesco/ArbescoDT-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'ArbescoDT-Regular';
  src: url('../Arbesco/ArbescoDT-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'ArbescoDT-SemiBold';
  src: url('../Arbesco/ArbescoDT-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'ArbescoDT-Book';
  src: url('../Arbesco/ArbescoDT-Book.ttf')  format('truetype');
}

a {
     text-decoration: none;
}



// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }


@mixin overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  background-color: rgb(245,222,186);
  background: radial-gradient(circle, rgba(245,222,186,1) 1%, rgba(233,191,117,1) 100%);
}
