@import "reset";
@import "above-the-fold";
@import "variables";
@import "node_modules/include-media/dist/include-media";





body {
  line-height: 1;
  background: $background;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
